<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <title> 横排数据展示 </title>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts-en.common.js" rel="external nofollow" ></script>
    <link rel="stylesheet"  type="text/css"  href="../css/0001.css">
    <style>
        div {
            display: inline-block;
        }
    </style>
</head>
<body>
<div id="main" style="height: 400px;width: 600px;">
   <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                data: {{ names|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                // data: [5, 20, 36, 10, 10, 20]
                data: {{ data|safe }}
            }]
        };
        // document.write({{names}})
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>
<div id="test" style="height: 400px;width: 600px;">
   <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('test'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                data: {{ cols|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                // data: [5, 20, 36, 10, 10, 20]
                data: {{ data2|safe }}
            }]
        };
        // document.write({{names}})
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>
<div id="test3" style="height: 400px;width: 600px;">
   <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('test3'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                data: {{ names|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                // data: [5, 20, 36, 10, 10, 20]
                data: {{ data|safe }}
            }]
        };
        // document.write({{names}})
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>
</body>
