<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
<title> 人群运营 </title>
<script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts-en.common.js" rel="external nofollow" ></script>
<link rel="stylesheet"  type="text/css"  href="../css/0001.css">
<style>
#div1, #div2, #div3{
    display: inline-block;
}
#div4, #div5, #div6{
    display: inline-block;
}
.options {
    font-size:25px;
    color: #ffffff;
}
.form-control {
    font-size:25px;
}
.button {
    font-size: 20px;
    text-align: center;
    background-color: #7FFFAA;
}
.suggest {
    color: #1E90FF;
    font-size: 30px;
    text-align: center;
}
</style>
</head>

<body>
<div class="options" style="width:100%; background-color:#EE82EE">
    <form class="form-inline" action="/crowd" method="get" style="">
        <div class="form-inline">
        <label>渗透率</label>
        <select class="form-control" name="penetration">
            <option>低</option>
            <option>高</option>
        </select>
        &nbsp;&nbsp;&nbsp;
        <label>近度</label>
        <select class="form-control" name="recent">
            <option>低</option>
            <option>高</option>
        </select>
        &nbsp;&nbsp;&nbsp;
        <label>金额</label>
            <select class="form-control" name="amount">
            <option>低</option>
            <option>高</option>
        </select>
        &nbsp;&nbsp;&nbsp;
        <label>消耗</label>
        <select class="form-control" name="cost">
            <option>低</option>
            <option>高</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="button"> 点击选择目标人群 </button>
        </div>
   </form>
</div>

<div class="online1">
    <div id="div1" style="height: 400px;width: 600px;">
       <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('div1'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '订单分布'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                data: {{ names|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                // data: [5, 20, 36, 10, 10, 20]
                data: {{ data|safe }}
            }]
        };
        // document.write({{names}})
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        </script>
    </div>
    <div id="div2" style="height: 400px;width: 600px;">
       <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('div2'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '全局成交分布'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                data: {{ names|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                // data: [5, 20, 36, 10, 10, 20]
                data: {{ data|safe }}
            }]
        };
        // document.write({{names}})
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        </script>
    </div>
    <div id="div3" style="height: 400px;width: 600px;">
       <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('div3'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '用户画像分布'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                data: {{ names|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                // data: [5, 20, 36, 10, 10, 20]
                data: {{ data|safe }}
            }]
        };
        // document.write({{names}})
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        </script>
    </div>
</div>

<div class="online2">
    <div id="div4" style="height: 400px;width: 600px;">
       <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('div4'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '订单分布'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                data: {{ names|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                // data: [5, 20, 36, 10, 10, 20]
                data: {{ data|safe }}
            }]
        };
        // document.write({{names}})
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        </script>
    </div>
    <div id="div5" style="height: 400px;width: 600px;">
       <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('div5'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '全局成交分布'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                data: {{ names|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                // data: [5, 20, 36, 10, 10, 20]
                data: {{ data|safe }}
            }]
        };
        // document.write({{names}})
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        </script>
    </div>
    <div id="div6" style="height: 400px;width: 600px;">
       <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('div6'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '用户画像分布'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                // data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                data: {{ names|safe }}
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                // data: [5, 20, 36, 10, 10, 20]
                data: {{ data|safe }}
            }]
        };
        // document.write({{names}})
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        </script>
    </div>
</div>

<br/>
<div class="suggest">
    当前人群运营建议: {{suggest}}
</div>

</body>
</html>