<!DOCTYPE html>
<html>
<head>
<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

a:link,a:visited {
	display: block;
	width: 140px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4169E1;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover,a:active {
	background-color: #2E8B57;
}
</style>
</head>
<body>
<ul>
  <li><a class="active" href="/home">推荐Demo       </a> </li>
  <li><a href="/i2i" >               Match召回算法  </a> </li>
  <li><a href="/i2i" >               GNN图学习      </a> </li>
<!--  <li><a href="/rank">               Rank模型       </a> </li>-->
  <li><a href="/crowd">            人群分析        </a> </li>
  <li><a href="/about">              关于我们       </a> </li>
</ul>
</body>
</html>