<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
    </head>
    <body>
        <table border="1">
            <tr>
                <th>人物</th>
                <th>介绍</th>
                <th>产品</th>
            </tr>
            <tr>
                <td>玩具总动员</td>
                <td><img src="/static/images/demo_pictures/1.jpg" width="120"></td>
                <td>Apple系列</td>
            </tr>
            <tr>
                <td>丹尼斯·里奇</td>
                <td><img src="/static/images/demo_pictures/2.jpg" width="120"></td>
                <td>C语言</td>
            </tr>
            <tr>
                <td>比尔·盖茨</td>
                <td><img src="/static/images/demo_pictures/3.jpg" width="120"></td>
                <td>Windows系统</td>
            </tr>
        </table>
    </body>
</html>