<!DOCTYPE html>
<html>
<head>
<style>
.test {
    font-size:25px;
    color: #ffffff;
}
.options {
    font-size:25px;
}
.form-control {
    font-size:25px;
}
.button {
    font-size: 20px;
    text-align: center;
}
</style>
</head>

<body>
<div class="test" style="width:100%; background-color:#9400D3;">
    <form class="form-inline" action="/crowd" method="get" style="">
        <div class="form-inline">
        <label>渗透率</label>
        <select class="form-control" name="penetration">
            <option>低</option>
            <option>高</option>
        </select>
        &nbsp;&nbsp;&nbsp;
        <label>近度</label>
        <select class="form-control" name="recent">
            <option>低</option>
            <option>高</option>
        </select>
        &nbsp;&nbsp;&nbsp;
        <label>金额</label>
            <select class="form-control" name="amount">
            <option>低</option>
            <option>高</option>
        </select>
        &nbsp;&nbsp;&nbsp;
        <label>消耗</label>
        <select class="form-control" name="cost">
            <option>低</option>
            <option>高</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="button"> 点击选择目标人群 </button>
        </div>
   </form>
</div>

<br/>
<br/>
<br/>

<div id="result">
    当前选择运营人群特性:
    <br/>
    渗透率 {{ penetration }}
    <br/>
    近度 {{ recent }}
    <br/>
    金额 {{ amount }}
    <br/>
    消耗 {{ cost }}
</div>
</body>
</html>